body
{
    background: url("bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1
{
    font-family: 'Noto Sans JP', sans-serif;
    text-align:center;
    font-size:50px;
    margin-top:10vh;
    letter-spacing: 3px;
    word-spacing: 15px;
}
.count
{
    width:22%;
    border:1px solid black;
    margin:auto;
}
.day, .hour, .min, .sec
{
    display: inline-block;
    margin:1% 5% 1% 5%;
}
.num
{
    font-size:45px;
    margin-bottom:20px;
}